h1{
    background-color: black;
    color: white;
}

p{
    color: cadetblue;
}
#first{
    font-weight: bold;
    color: black;
    background-color: blanchedalmond;
    border: 2px solid black;
}
#first p{
    color: blue;
}

#second{
    font-style: italic;
    color: rgb(230, 24, 24);
    background-color: rgb(233, 232, 230);
    border: 4px solid black;
}
.two {
    color: rgb(67, 7, 146);
    font-style: italic;
}

#third{
    font-style: normal;
    color: rgb(31, 230, 24);
    background-color: rgb(225, 241, 165);
    border: 6px solid black;
}